
@media only screen and (max-width: 1200px) {
  body { font-size: 0.8em; }
    .tittle-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .company-container {
    width: 100%;
}

    .row { padding: 0 2%; }

}

@media only screen and (max-width: 1023px) {
    body { font-size: 0.6em; }
    #contact-us {
    padding: 30px 0;
}
.center-btn {
    width: 18%;
}
.bnnr-drop {
    margin-bottom: 50px;
}
#company-space {
    margin: 50px 0px;
}
section.row.embedded-content {
    margin-top: 50px;
}
.center-btn{
  margin: auto;
  width: 19%;
}

}

@media only screen and (max-width: 767px) {

    body { font-size: 0.6em;
    }
    .arrow {
      position: absolute;
    }
    section#banner{
      position: relative;
    }
    div.company-text-box  {
    position: inherit;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.company-img {
    margin: 30px;
    display: block;
}
.lct-links,
.container-4-1 {
    width: 80%;

}
#contact-us div.col.span-1-of-2 {
      margin-right: 10px;
}
    .center-btn2 {
    width: 35%;
}
input[type=text], input[type=email], select, textarea {

    margin: 1px 0;
}
.container4-2 {
  height: 300px;
}
#contact-us .we-btn {
  margin-bottom: 10px
}
div.half-text-content {
    margin: 10px 0 10px 0;
}

button.we-btn {
      margin: 5px 0 10px 0;
}
.lower-links {
    margin-left: 60px;
}
    .row,
    .tittle-text-box { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }


  }
  @media only screen and (max-width: 480px) {
  body {

  }
  .title-text-box {
    padding: 10px;
  }
  .lct-links {
    margin-bottom: 20px;
  }
  .container4-2 {
    height: 300px;
}
  .center-btn2 {
    width: 75%;
}
.center-btn {
  margin: auto;
  width: 25%;
}
div.diagonal-text-content {
    padding: 10px 0 0 10px;
}
.lct-links, .container-4-1 {
    width: 90%;
}
#banner2 button.we-btn {
  width: 130px;
}

.lower-links {
    margin-left: 10px;
}
footer .col.span-2-of-2 {
  width: 65%;
}
footer .col.span-1-of-2 {
  width: 100%;
}
}

/*
@media only screen and (max-width: 480px) {
  body { font-size: 0.6em;
    background-color: orange;
  }
  .center-btn {
    margin: auto;
    width: 25%;
}
  .center-btn2 {
      width: 45%;
  }

  .lower-links {
      margin-left: 10px;
  }
  footer .col.span-2-of-2 {
    width: 65%;
}
footer .col.span-1-of-2 {
    width: 100%;
}

    .contact-form {width: 100%; }


    .title-text-box h1 {
      font-size: 1rem;
    }
    .title-text-box p {
      margin-top: 10px;
      font-size: 0.5em;
    }
    .title-text-box {
      margin: 150px;
      width: 200px;
      padding: 15px
    }
    .company-text-box h1,
    #company-space h2,
    .container3 h1 {
      font-size: 2rem;

    }
    .container3 h1{
    padding: 30px;
    }
    #banner2 {
      margin-left: 20px;
    }
    #banner2 button {
      color: #000;
    }
} */
}
